<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @pin.location %>
</p>

<p>
  <strong>Pin lat:</strong>
  <%= @pin.pin_lat %>
</p>

<p>
  <strong>Pin lng:</strong>
  <%= @pin.pin_lng %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
